<nav id="sidebar-numeralia">
    <div class="sidebar-header">
        <img src="../../../assets/img/logo-librosdelrincon.png" alt="Logo Libros del Rincón">
    </div>

    <ul class="list-unstyled components">
        <p>Numeralia</p>
        <li class="active">
            <a href="#homeSobre">Bibliotecas distribuidas</a>
        </li>
        <li>
            <a href="#">Ejemplares adquiridos e inversión</a>
        </li>
        <li>
            <a href="#">Número de títulos adquiridos por año</a>
        </li>
    </ul>
</nav>