<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar></app-sidebar>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <!--Intro-->
        <div class="row mt-4">
            <div class="col-md-5">
                <h2 class="font-weight-bold">Proceso de Selección
                <hr class="my-4 linea1">
                </h2>            
            </div>

            <div class="col-md-7">
                <p class="text-justify">El proceso de selección para conformar los acervos de las Bibliotecas Escolares y de Aula es el procedimiento mediante el cual se realizan distintas acciones encaminadas a garantizar que los alumnos y maestros de educación básica tengan acceso a materiales de calidad. El procedimiento involucra a diferentes actores en distintas etapas.</p>

            </div>

        </div>

        <!--Contenido-->
        <div class="row">

            
        </div>
    </div>
</div>