<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar></app-sidebar>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <!--Intro-->
        <div class="row mt-4">
            <div class="col-md-5">
                <h2 class="font-weight-bold">Sobre la colección
                <hr class="my-4 linea1">
                </h2>            
            </div>

            <div class="col-md-7">
                <p class="text-justify">La colección Libros del Rincón, desde su inicio a mediados de los años ochenta, ha contribuido de manera significativa a la formación de lectores en la escuela.</p>

                <p class="text-justify">Los Libros del Rincón amplían y profundizan sus propósitos y alcances; todos los alumnos de las escuelas públicas de educación básica reciben libros de este acervo según las competencias lectoras que se espera desarrollen durante la educación obligatoria.</p>
            </div>

        </div>

        <!--Contenido-->
        <div class="row">
            <!--Objetivos-->
            <div class="card m-2">
              <div class="card-header orange darken-4 text-center white-text">
                <h5 class="font-weight-bold">Objetivos de la Colección</h5>
              </div>
              <div class="card-body">
                <section class="p-md-3 mx-md-5 text-lg-left">
                  <div class="row text-center d-flex justify-content-center">
                    <div class="col-md-4 mb-lg-0 mb-5">
                      <i class="fas fa-book-reader fa-3x indigo-text mb-4"></i>
                      <p class="text-muted px-2 mb-lg-0">
                        Contribuir a la formación de lectores y escritores mediante la disponibilidad de opciones de lecturas individuales y colectivas, no sólo complementarias sino distintas de las que se encuentran en los libros de texto.
                      </p>
                    </div>
                    <div class="col-md-4 mb-lg-0 mb-5">
                      <i class="fas fa-book fa-3x blue-text mb-4"></i>
                      <p class="text-muted px-2 mb-lg-0">
                        Instalar las condiciones materiales necesarias a fin de favorecer el desarrollo de un modelo pedagógico que requiere la presencia de una diversidad de títulos, géneros, formatos, temas y autores que posibiliten múltiples lecturas dentro y fuera del aula y de la escuela.
                      </p>
                    </div>
                    <div class="col-md-4 mb-md-0 mb-5">
                      <i class="fas fa-graduation-cap fa-3x light-blue-text mb-4"></i>
                      <p class="text-muted px-2 mb-md-0">
                        Ofrecer la posibilidad de atender las múltiples necesidades de los alumnos de educación básica en los distintos momentos de su desarrollo como lectores y escritores.
                      </p>
                    </div>
                  </div>
                </section>
              </div>
          </div>
        </div>

        <div class="container my-4">
          <div class="accordion md-accordion z-depth-1" id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">
          
              <!-- Card header -->
              <div class="card-header" style="background-color:#DCA17E;" role="tab" id="headingOne1">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                  aria-controls="collapseOne1">
                  <h5 class="mb-0 font-weight-bold brown-text">
                    Características de la Colección <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
          
              <!-- Card body -->
              <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                data-parent="#accordionEx">
                <div class="card-body">
                  <p class="card-text">La colección Libros del Rincón está conformada por acervos para la Biblioteca Escolar 
                    y la Biblioteca de Aula.</p>
                <p class="card-text">La Biblioteca Escolar, ofrece la posibilidad de incrementar las fuentes de información, 
                  fomentar el desarrollo de habilidades de investigación y permitir a los lectores un contacto más amplio con
                  temáticas, géneros y autores, apoyar el modelo pedagógico propuesto por las reformas curriculares en curso.
                   En ella se desarrolla un proyecto capaz de impulsar y coordinar la circulación de una diversidad de textos
                    en el centro escolar en su conjunto, atendiendo necesidades lectoras de toda la comunidad, favoreciendo 
                    la articulación de la actividad escolar.</p>
                  
                    <p class="card-text">El acervo para el aula, acorta la distancia entre el libro y sus posibles usuarios permitiendo que los alumnos compartan momentos de consulta, investigación y lectura con muy diversos propósitos; ello favorece la interacción y el intercambio de ideas. Al mismo tiempo, gracias a que los materiales de lectura están a la mano para un uso habitual y significativo, tanto dentro del aula como fuera de ella, alumnos y profesores comparten la experiencia de manejar, conservar y organizar el funcionamiento de un acervo.</p>
              </div>
          
            </div>
            </div>
            <!-- Accordion card -->
          
            <!-- Accordion card -->
            <div class="card">
          
              <!-- Card header -->
              <div class="card-header" style="background-color: #D2845C;" role="tab" id="headingTwo2">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                  aria-expanded="false" aria-controls="collapseTwo2">
                  <h5 class="mb-0 font-weight-bold brown-text">
                    Organización de los acervos <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
          
              <!-- Card body -->
              <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                data-parent="#accordionEx">
                <div class="card-body">
                  <p class="card-text text-justify">Para facilitar su clasificación, los acervos para la Biblioteca Escolar y de 
                    Aula se organizan en series, géneros y categorías.</p>

                <p class="card-text text-justify">Las series Al sol solito, Pasos de luna, Astrolabio, Espejo de urania y 
                    Cometas convidados, describen los perfiles lectores y son utilizadas de forma transversal
                    en los diferentes grados escolares e incluso en diferentes niveles educativos. Los perfiles
                    lectores descritos no se conciben de manera rígida e inamovible, al contrario, se superponen 
                    y se complementan.</p>
                    
                <p class="card-text card-text text-justify">La colección se divide en dos géneros: informativo y literario. Para cada uno
                    de ellos se definieron categorías que describen las características de los textos y facilitan 
                    la organización de los acervos en las aulas y en las escuelas. Las categorías están relacionadas
                    con un color que facilita su identificación y clasificación.</p>

                </div>
              </div>
          
            </div>
            <!-- Accordion card -->
          
            <!-- Accordion card -->
            <div class="card">
          
              <!-- Card header -->
              <div class="card-header" style="background-color: #C96639;" role="tab" id="headingThree3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                              aria-expanded="false" aria-controls="collapseThree3">
                    <h5 class="mb-0 font-weight-bold white-text">
                      Clasificación de los acervos <i class="fas fa-angle-down rotate-icon"></i>
                    </h5>
                </a>
              </div>
                      
              <!-- Card body -->
              <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                            data-parent="#accordionEx">
                <div class="card-body">
                  <section class="m-4">
                    <img class="img-fluid" src="../../../assets/img/informativos.png" alt="Acervos informativos"> <br/><br/>
                    <img class="img-fluid" src="../../../assets/img/literarios.png" alt="Acervos literarios"> 
                  </section> 
            
                </div>
              </div>
                      
            </div>

            <!-- Accordion card -->
            <div class="card">
          
              <!-- Card header -->
              <div class="card-header" style="background-color: #C96639;" role="tab" id="headingFour4">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4"
                                          aria-expanded="false" aria-controls="collapseFour4">
                  <h5 class="mb-0 font-weight-bold white-text">
                    Acervos para la biblioteca escolar y de aula <i class="fas fa-angle-down rotate-icon"></i>
                  </h5>
                </a>
              </div>
                                  
                          <!-- Card body -->
              <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4" data-parent="#accordionEx">
                <div class="card-body">
                  <p class="card-text">Los acervos para la Biblioteca Escolar y de Aula representan un proyecto de formación de lectores y escritores que ofrece 
                    opciones de lecturas individuales y colectivas, no sólo complementarias sino distintas de las que se encuentran en los libros de texto. 
                    Estos se complementan.</p>
                  <p class="card-text">El acervo para la <strong>Biblioteca Escolar,</strong> por su tamaño, ofrece a los lectores oportunidades de ampliar su universo al 
                    entrar en contacto con materiales escritos de los mismos géneros y categorías que se encuentran en las aulas. Los libros enciclopédicos, 
                    y en general, las obras de referencia se localizarán solamente en el acervo escolar para su consulta.</p>
                  <p class="card-text">El acervo para la <strong>Biblioteca de Aula</strong> representa una oportunidad de lectura en profundidad. Cada uno de los libros 
                    para los salones ofrece posibilidades de lectura diferentes, pone a disposición temas y formatos que son muestra del acervo 
                    (mucho más amplio) que podrá encontrarse no sólo en la biblioteca de la escuela, sino en los distintos acervos presentes en la vida social. 
                    Con ellos, se tienden lazos de búsqueda, se alimenta la curiosidad y se intenta que con su presencia constante los libros se vayan volviendo 
                    elementos de referencia y uso permanente, tan habituales como el resto de los objetos en el salón de clases.</p>
                  <p class="card-text">Los acervos que integran las Bibliotecas Escolares y de Aula ofrecen la posibilidad de atender las múltiples necesidades 
                    de los alumnos de educación básica en los distintos momentos de su desarrollo como lectores; de esta manera, toman en cuenta a los niños 
                    que aún no inician el aprendizaje formal de la lectura y escritura, a los que ya lo han iniciado, y a quienes leen y escriben de manera habitual.</p>
                  <p class="card-text">La colección Libros del Rincón contiene <a [routerLink]="[ '/acervos/TitulosMonolingues']">libros monolingües,</a> <a [routerLink]="[ '/acervos/TitulosBilingues']">bilingües</a> y <a [routerLink]="[ '/acervos/ProduccionEstatal']">estatales.</a></p>
                        
                </div>
              </div>
                                  
            </div>

            <!-- Accordion card -->
            <div class="card">
          
              <!-- Card header -->
              <div class="card-header" style="background-color: #C96639;" role="tab" id="headingFour4">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4"
                                                      aria-expanded="false" aria-controls="collapseFour4">
                <h5 class="mb-0 font-weight-bold white-text">
                                Acervos para la biblioteca escolar y de aula <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
                </a>
              </div>
                                              
               <!-- Card body -->                       
                <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4" data-parent="#accordionEx">
                  <div class="card-body">
                    <p class="card-text">Los acervos para la Biblioteca Escolar y de Aula representan un proyecto de formación de lectores y escritores que ofrece 
                    opciones de lecturas individuales y colectivas, no sólo complementarias sino distintas de las que se encuentran en los libros de texto. 
                    Estos se complementan.</p>
                    <p class="card-text">El acervo para la <strong>Biblioteca Escolar,</strong> por su tamaño, ofrece a los lectores oportunidades de ampliar su universo al 
                    entrar en contacto con materiales escritos de los mismos géneros y categorías que se encuentran en las aulas. Los libros enciclopédicos, 
                    y en general, las obras de referencia se localizarán solamente en el acervo escolar para su consulta.</p>
                    <p class="card-text">El acervo para la <strong>Biblioteca de Aula</strong> representa una oportunidad de lectura en profundidad. Cada uno de los libros 
                    para los salones ofrece posibilidades de lectura diferentes, pone a disposición temas y formatos que son muestra del acervo 
                    (mucho más amplio) que podrá encontrarse no sólo en la biblioteca de la escuela, sino en los distintos acervos presentes en la vida social. 
                    Con ellos, se tienden lazos de búsqueda, se alimenta la curiosidad y se intenta que con su presencia constante los libros se vayan volviendo 
                    elementos de referencia y uso permanente, tan habituales como el resto de los objetos en el salón de clases.</p>
                    <p class="card-text">Los acervos que integran las Bibliotecas Escolares y de Aula ofrecen la posibilidad de atender las múltiples necesidades 
                    de los alumnos de educación básica en los distintos momentos de su desarrollo como lectores; de esta manera, toman en cuenta a los niños 
                    que aún no inician el aprendizaje formal de la lectura y escritura, a los que ya lo han iniciado, y a quienes leen y escriben de manera habitual.</p>
                    <p class="card-text">La colección Libros del Rincón contiene <a [routerLink]="[ '/acervos/TitulosMonolingues']">libros monolingües,</a> <a [routerLink]="[ '/acervos/TitulosBilingues']">bilingües</a> y <a [routerLink]="[ '/acervos/ProduccionEstatal']">estatales.</a></p>
                                    
                  </div>
                </div>          
                                              
              </div>

          </div>
        

        </div>
    </div>
</div>