<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar></app-sidebar>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <!--Intro-->
        <div class="row mt-4">
            <div class="col-md-5">
                <h2 class="font-weight-bold">Sobre la colección
                <hr class="my-4 linea1">
                </h2>            
            </div>

            <div class="col-md-7">
                <p class="text-justify">La colección Libros del Rincón, desde su inicio a mediados de los años ochenta, ha contribuido de manera significativa a la formación de lectores en la escuela.</p>

                <p class="text-justify">Los Libros del Rincón amplían y profundizan sus propósitos y alcances; todos los alumnos de las escuelas públicas de educación básica reciben libros de este acervo según las competencias lectoras que se espera desarrollen durante la educación obligatoria.</p>
            </div>

        </div>

        <!--Contenido-->
        <div class="row">
            <!--Objetivos-->
            <div class="container py-5 my-5 z-depth-1">
                <section class="p-md-3 mx-md-5 text-lg-left">
                  <div class="row text-center d-flex justify-content-center">
                    <div class="col-md-4 mb-lg-0 mb-5">
                      <i class="fas fa-book-reader fa-3x indigo-text mb-4"></i>
                      <p class="text-muted px-2 mb-lg-0">
                        Contribuir a la formación de lectores y escritores mediante la disponibilidad de opciones de lecturas individuales y colectivas, no sólo complementarias sino distintas de las que se encuentran en los libros de texto.
                      </p>
                    </div>
                    <div class="col-md-4 mb-lg-0 mb-5">
                      <i class="fas fa-book fa-3x blue-text mb-4"></i>
                      <p class="text-muted px-2 mb-lg-0">
                        Instalar las condiciones materiales necesarias a fin de favorecer el desarrollo de un modelo pedagógico que requiere la presencia de una diversidad de títulos, géneros, formatos, temas y autores que posibiliten múltiples lecturas dentro y fuera del aula y de la escuela.
                      </p>
                    </div>
                    <div class="col-md-4 mb-md-0 mb-5">
                      <i class="fas fa-graduation-cap fa-3x light-blue-text mb-4"></i>
                      <p class="text-muted px-2 mb-md-0">
                        Ofrecer la posibilidad de atender las múltiples necesidades de los alumnos de educación básica en los distintos momentos de su desarrollo como lectores y escritores.
                      </p>
                    </div>
                  </div>
                </section>
            </div>
            <!--Características de la Colección-->
            <div class="card">
                <div class="card-header">
                  Características de la Colección
                </div>
                <div class="card-body">
                  <p class="card-text">La colección Libros del Rincón está conformada por acervos para la Biblioteca Escolar y la Biblioteca de Aula.

                    La Biblioteca Escolar, ofrece la posibilidad de incrementar las fuentes de información, fomentar el desarrollo de habilidades de investigación y permitir a los lectores un contacto más amplio con temáticas, géneros y autores, apoyar el modelo pedagógico propuesto por las reformas curriculares en curso. En ella se desarrolla un proyecto capaz de impulsar y coordinar la circulación de una diversidad de textos en el centro escolar en su conjunto, atendiendo necesidades lectoras de toda la comunidad, favoreciendo la articulación de la actividad escolar.
                    
                    El acervo para el aula, acorta la distancia entre el libro y sus posibles usuarios permitiendo que los alumnos compartan momentos de consulta, investigación y lectura con muy diversos propósitos; ello favorece la interacción y el intercambio de ideas. Al mismo tiempo, gracias a que los materiales de lectura están a la mano para un uso habitual y significativo, tanto dentro del aula como fuera de ella, alumnos y profesores comparten la experiencia de manejar, conservar y organizar el funcionamiento de un acervo.</p>
                </div>
              </div>
            
        </div>
    </div>
</div>