<nav id="sidebar">
    <div class="sidebar-header">
        <img src="../../../assets/img/logo-librosdelrincon.png" alt="Logo Libros del Rincón">
    </div>

    <ul class="list-unstyled components">
        <a [routerLink]="[ '/docentes' ]"><p>DOCENTES</p></a>
        <li class="active">
            <a [routerLink]="[ '../OrientacionesInstalacion' ]">Instalación y funcionamiento de la Biblioteca Escolar </a>
        </li>
        <li>
            <a [routerLink]="[ '../Orientacion' ]">Uso y aprovechamiento de los acervos</a>
        </li>
        <li>
            <a href="http://librosdelrincon.sep.gob.mx/instalacion/libros_bam/" target="_blank">Biblioteca de Actualización del Maestro</a>
        </li>
    </ul>
</nav>