<nav id="sidebar-proceso">
    <div class="sidebar-header">
        <img src="../../../assets/img/logo-librosdelrincon.png" alt="Logo Libros del Rincón">
    </div>

    <ul class="list-unstyled components">
        <a [routerLink]="[ '/proceso']"><p>PROCESO DE SELECCIÓN</p></a>
        <li class="active">
            <a [routerLink]="[ '../Sobreproceso']">Sobre el proceso de selección</a>
        </li>
        <li>
            <a [routerLink]="[ '../Ingresomat']">Ingreso de Materiales</a>
        </li>
        <li>
            <a [routerLink]="[ '../Preseleccion']">Preeselección</a>
        </li>
        <li>
            <a [routerLink]="[ '../Seleccion']">Selección</a>
        </li>
    </ul>
</nav>