<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar></app-sidebar>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <!--Intro-->
        <div class="row mt-4">
            <div class="col-md-5">
                <h2 class="font-weight-bold">Materiales de Orientación
                <hr class="my-4 linea1">
                </h2>            
            </div>

            <div class="col-md-7">
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipiscing elit dapibus, dis nunc semper sapien malesuada enim torquent nostra congue, morbi ultrices praesent turpis fusce molestie hac. Montes turpis tellus litora aenean nulla sociosqu justo quis porta, placerat ligula lacinia curabitur rhoncus vel suspendisse sem, mollis purus sodales quam bibendum malesuada tortor hac.</p>

                <p class="text-justify">Platea est nascetur in sapien parturient tempor dis ullamcorper quis himenaeos vivamus rhoncus nunc euismod, tristique tellus hac blandit proin quam suscipit porta laoreet nisl dictum sociis scelerisque.</p>

            </div>

        </div>

        <!--Contenido-->
        <div class="row my-4">
            <div class="col-lg-4">
                <!-- Card -->
                <div class="card">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="../../../assets/img/orientacion.png" alt="Card image cap">
                        <a [routerLink]="['LibrosSugeridos']">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Button -->
                    <a [routerLink]="['LibrosSugeridos']" class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
            class="fas fa-chevron-right pl-1"></i></a>
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <a [routerLink]="['LibrosSugeridos']">
                            <h6 class="card-title text-uppercase pt-2">Orientaciones para el uso y aprovechamiento de acervos de Bibliotecas Escolares y de Aula</h6>
                        </a>
                    </div>
                </div>
                <!-- Card -->
            </div>
    
            <div class="col-lg-4">
                <!-- Card -->
                <div class="card">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="../../../assets/img/orientacion.png" alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Button -->
                    <a [routerLink]="['Orientacion']" class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
            class="fas fa-chevron-right pl-1"></i></a>
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <a>
                            <h6 class="card-title text-uppercase pt-2">Orientaciones para el uso y aprovechamiento de acervos de Bibliotecas Escolares y de Aula</h6>
                        </a>
                    </div>
                </div>
                <!-- Card -->
            </div>
    
            <div class="col-lg-4">
                <!-- Card -->
                <div class="card">
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="../../../assets/img/orientacion.png" alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    <!-- Button -->
                    <a [routerLink]="['Orientacion']" class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
            class="fas fa-chevron-right pl-1"></i></a>
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <a>
                            <h6 class="card-title text-uppercase pt-2">Orientaciones para el uso y aprovechamiento de acervos de Bibliotecas Escolares y de Aula</h6>
                        </a>
                    </div>
                </div>
                <!-- Card -->
            </div>

        </div>
    </div>
</div>