<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar></app-sidebar>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

    <div class="row mt-4">
        <div class="col-md-5">
            <h2 class="font-weight-bold">Series de la colección
            <hr class="my-4 linea1">
            </h2>            
        </div>

        <div class="col-md-7">
            <p class="text-justify">Los alumnos de las escuelas públicas de educación preescolar, primaria y secundaria reciben acervos de acuerdo con su perfil lector. Estos perfiles no se conciben de manera rígida e inamovible, al contrario, se superponen y se complementan. </p>

            <p class="text-justify">Un lector puede poseer características diferentes, en grado y matiz de varios de estos perfiles. Son sólo indicativos y ordenadores de las series de los Libros del Rincón.</p>
    </div>

    <div class="container my-4 white z-depth-1">
        
            <!--Grid row-->
        <div class="row">
    
          <!--Grid column-->
          <div class="col-md-3 my-4">
    
            <ul class="nav md-pills pills-blue d-flex flex-column">
              <li class="nav-item">
                <a class="nav-link active text-left" data-toggle="tab" href="#panel11" role="tab"><strong>Al sol solito</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-left" data-toggle="tab" href="#panel12" role="tab"><strong>Pasos de luna</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-left" data-toggle="tab" href="#panel13" role="tab"><strong>Astrolabio</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-left" data-toggle="tab" href="#panel14" role="tab"><strong>Espejo de Urania</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-left" data-toggle="tab" href="#panel15" role="tab"><strong>Cometas convidados</strong></a>
              </li>
            </ul>
    
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-md-9 mb-4">
    
            <!-- Tab panels -->
            <div class="tab-content pt-0">
    
              <!--Panel 1-->
              <div class="tab-pane fade in show active" id="panel11" role="tabpanel">
                <br>
                <div class="row">
                <div class="col-md-7">
                <h5 class="font-weight-bold">Al sol solito (Para los más chiquitos)</h5><br/>
                <p class="text-justify">Los lectores a quienes va dirigida esta serie inician su encuentro escolar con 
                  la lectura y la escritura, a partir del contacto cotidiano con los textos que los rodean.</p>

                  <p class="text-justify">Estos lectores empiezan a interesarse tanto por aspectos sonoros y gráficos
                    de la lengua, así como por los referidos a lo semántico y a lo textual. En sus lecturas comienzan 
                    a dar sentido a los textos e ilustraciones que enfrentan.</p>
                  
                    <p class="text-justify">Disfrutan enormemente de la lectura que los adultos hacen para ellos, para 
                      luego dedicarse, en muchos casos, a la lectura independiente de esos textos, sobre todo, cuando se encuentran profusamente ilustrados.</p>
                  
                    <p class="text-justify">Se interesan por reconocer en imágenes, el mundo físico y social que les 
                      rodea, por lo que son capaces de escuchar relatos por un largo periodo, siempre y cuando su temática les permita encontrarse viviendo mundos de su interés.</p>
                </div>
                <div class="col-md-3">
                  <img class="img-fluid " src="../../../assets/img/al-sol-solito.jpg" alt="Al sol solito">
                </div>
                </div>
    
              </div>
              <!--/.Panel 1-->
    
              <!--Panel 2-->
              <div class="tab-pane fade" id="panel12" role="tabpanel">
                <br>
                <div class="row">
                  <div class="col-md-7">
                  <h5 class="font-weight-bold">Pasos de luna (Para los que empiezan a leer)</h5><br/>
                  <p class="text-justify">Los lectores a quienes está dirigida esta serie se han iniciado
                    ya en el aprendizaje escolar de la lengua escrita y son capaces de leer por sí mismos los textos y las ilustraciones de diversos tipos de libros.</p>
  
                    <p class="text-justify">Su curiosidad por la lectura y la escritura aumenta, y amplían su interés por las palabras nuevas y aquellas que tienen varios sentidos y significados.</p>
                    
                      <p class="text-justify">Les agrada leer por sí solos textos de mayor extensión que los leídos en la etapa anterior. Siguen disfrutando de la lectura que les hacen los adultos y están dispuestos a compartir su lectura con los amigos o con la familia.</p>
                    
                      <p class="text-justify">Se interesan cada vez más por conocer mundos lejanos o distintos al propio, tanto para responder preguntas específicas como para internarse en espacios de lectura reales y fantásticos. El humor gráfico y verbal empieza a serles más atractivo.</p>
                  </div>
                  <div class="col-md-3">
                    <img class="img-fluid" src="../../../assets/img/pasos-de-luna.jpg" alt="Pasos de luna">
                  </div>
                  </div>
              </div>
              <!--/.Panel 2-->
    
              <!--Panel 3-->
              <div class="tab-pane fade" id="panel13" role="tabpanel">
                <br>
                <div class="row">
                  <div class="col-md-7">
                  <h5 class="font-weight-bold">Astrolabio (Para los que leen con fluidez)</h5><br/>
                  <p class="text-justify">Los lectores a quienes está dirigida esta serie tienen un mayor conocimiento de la lengua escrita y de los formatos y registros que presentan los distintos discursos, de modo que pueden enfrentarse por sí mismos no sólo a la lectura de textos más extensos, sino también más complejos desde el punto de vista gramatical y narrativo.</p>
  
                    <p class="text-justify">Los intereses de estos lectores son cada vez más amplios, y a la vez comienzan a especializarse. Así, se interesan por conocer más sobre un autor o un tema.</p>
                    
                      <p class="text-justify">Llaman su atención tanto libros que responden preguntas específicas como aquellos que ofrecen un mayor conocimiento y comprensión del mundo social y afectivo o muestran mundos nuevos.</p>
                    
                      <p class="text-justify">Siguen interesados en la narración ilustrada, pero igualmente se animan a leer textos donde la ilustración no existe o no ocupa un lugar central.</p>
                  </div>
                  <div class="col-md-3">
                    <img class="img-fluid" src="../../../assets/img/astrolabio.jpg" alt="Astrolabio">
                  </div>
                  </div>
    
              </div>
              <!--/.Panel 3-->
    
              <!--Panel 4-->
              <div class="tab-pane fade" id="panel14" role="tabpanel">
                <br>
    
                <div class="row">
                  <div class="col-md-7">
                  <h5 class="font-weight-bold">Espejo de Urania (Para los lectores autónomos)</h5><br/>
                  <p class="text-justify">Los lectores a quienes está dirigida esta serie poseen un conocimiento más desarrollado del mundo de lo escrito, lo cual los capacita para desentrañar con gran soltura la organización de los textos, sus diversos significados y sentidos, y los vínculos de diferentes materiales escritos entre sí.</p>
  
                    <p class="text-justify">Su más completo e integral desarrollo lector les permite enfrentar una gran diversidad textual. Tienen la posibilidad de seleccionar los textos que respondan a sus necesidades e intereses, sea con propósitos informativos, formativos o expresivos.</p>
                    
                      <p class="text-justify">Continúan interesándose por una gran diversidad de materiales que respondan a sus necesidades e inquietudes de desarrollo personal y social; buscan profundizar sus lecturas en un campo, género, autor o corriente.</p>
                    
                  </div>
                  <div class="col-md-3">
                    <img class="img-fluid" src="../../../assets/img/espejo-de-urania.jpg" alt="Espejo de Urania">
                  </div>
                  </div>
    
              </div>
              <!--/.Panel 4-->

              <!--Panel 5-->
              <div class="tab-pane fade" id="panel15" role="tabpanel">
                <br>
    
                <div class="row">
                  <div class="col-md-7">
                  <h5 class="font-weight-bold">Cometas convidados (Ediciones especiales)</h5><br/>
                  <p class="text-justify">Los lectores a quienes está dirigida esta serie son muy diversos, poseen edades y habilidades lectoras distintas entre sí. Comparten una amplia sensibilidad frente a los formatos y las características materiales de una edición.</p>
  
                    <p class="text-justify">Entre las obras editadas bajo esta serie se encontrarán ediciones especiales, representativas de autores nacionales y extranjeros considerados fundamentales en el desarrollo de la lengua escrita, así como también del trabajo destacado de impresores y editores.</p>

                    
                  </div>
                  <div class="col-md-3">
                    <img class="img-fluid" src="../../../assets/img/cometas-convidados.jpg" alt="Cometas convidados">
                  </div>
                  </div>
    
              </div>
              <!--/.Panel 5-->
    
            </div>
    
    
          </div>
          <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
      </div>

    </div>
</div>