<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar></app-sidebar>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

    <div class="row mt-4">
        <div class="col-md-5">
            <h2 class="font-weight-bold">Series de la colección
            <hr class="my-4 linea1">
            </h2>            
        </div>

        <div class="col-md-7">
            <p class="text-justify">Los alumnos de las escuelas públicas de educación preescolar, primaria y secundaria reciben acervos de acuerdo con su perfil lector. Estos perfiles no se conciben de manera rígida e inamovible, al contrario, se superponen y se complementan. </p>

            <p class="text-justify">Un lector puede poseer características diferentes, en grado y matiz de varios de estos perfiles. Son sólo indicativos y ordenadores de las series de los Libros del Rincón.</p>
    </div>

    <div class="container my-4 white">
        
            <!--Grid row-->
        <div class="row">
    
          <!--Grid column-->
          <div class="col-md-3 mb-4 ">
    
            <ul class="nav md-pills pills-secondary d-flex flex-column">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#panel11" role="tab">Link 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel12" role="tab">Link 2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel13" role="tab">Link 3</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel14" role="tab">Link 4</a>
              </li>
            </ul>
    
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-md-9 mb-4">
    
            <!-- Tab panels -->
            <div class="tab-content pt-0">
    
              <!--Panel 1-->
              <div class="tab-pane fade in show active" id="panel11" role="tabpanel">
                <br>
    
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
                  reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione
                  porro voluptate odit minima.</p>
    
              </div>
              <!--/.Panel 1-->
    
              <!--Panel 2-->
              <div class="tab-pane fade" id="panel12" role="tabpanel">
                <br>
    
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
                  reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione
                  porro voluptate odit minima.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
                  reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione
                  porro voluptate odit minima.</p>
    
              </div>
              <!--/.Panel 2-->
    
              <!--Panel 3-->
              <div class="tab-pane fade" id="panel13" role="tabpanel">
                <br>
    
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
                  reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione
                  porro voluptate odit minima.</p>
    
              </div>
              <!--/.Panel 3-->
    
              <!--Panel 4-->
              <div class="tab-pane fade" id="panel14" role="tabpanel">
                <br>
    
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
                  reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione
                  porro voluptate odit minima.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus
                  reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione
                  porro voluptate odit minima.</p>
    
              </div>
              <!--/.Panel 4-->
    
            </div>
    
    
          </div>
          <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
      </div>

    </div>
</div>