<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar-proceso></app-sidebar-proceso>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <!--Intro-->
        <div class="row mt-4">
            <div class="col-md-5">
                <h2 class="font-weight-bold">Preselección
                <hr class="my-4 linea1">
                </h2>            
            </div>

            <div class="col-md-7">
                <p class="text-justify">En esta etapa, un grupo de lectura externo a la Secretaría de Educación Pública revisa los materiales con base en su experiencia y de acuerdo con el mapa de géneros y categorías establecidos por la Dirección General de Materiales Educativos. Con la valoración que el grupo lector hace a los materiales, se seleccionan los libros para conformar el catálogo de selección que ofrece información sobre los títulos preseleccionados.</p>

            </div>

        </div>

        <!--Contenido-->
        <div class="row">

            
        </div>
    </div>
</div>