<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar></app-sidebar>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

    <div class="row mt-4">
        <div class="col-md-5">
            <h2 class="font-weight-bold">Categorías de la colección
            <hr class="my-4 linea1">
            </h2>            
        </div>

        <div class="col-md-7">
            <p class="text-justify">Definen las características de los textos que forman parte de la colección Libros del Rincón. Las categorías están relacionadas con un color que facilita su identificación y clasificación.</p>

    </div>

    <div class="container my-4">
        <div class="card cyan darken-2 text-center white-text my-4 py-3">
            <h5 class="font-weight-bold">Al sol solito / Pasos de luna</h5>
        </div>


    <!--Accordion wrapper-->
    <div class="accordion md-accordion z-depth-1" id="accordionEx" role="tablist" aria-multiselectable="true">

    <!-- Accordion card -->
    <div class="card">
  
      <!-- Card header -->
      <div class="card-header" role="tab" id="headingOne1">
        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
          aria-controls="collapseOne1">
          <h5 class="mb-0 font-weight-bold">
            Informativos <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>
  
      <!-- Card body -->
      <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
        data-parent="#accordionEx">
        <div class="card-body">
          <div class="row">
              <div class="col-md-6">
                  <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #009FE1;"></i> La naturaleza</h5>
                  <p class="text-justify">Libros sobre las características de los seres vivos, los espacios donde éstos se desarrollan, las condiciones ambientales, los fenómenos y eventos naturales que influyen en los seres y su entorno.</p>
                </div>

              <div class="col-md-6">
                <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #009FE1;"></i> El cuerpo</h5>
                <p class="text-justify">Materiales que describan o expliquen el funcionamiento del cuerpo y los cambios que experimenta, los modos de mantenerlo en buenas condiciones y de preservar la salud.</p>
              </div>
          </div>

          <div class="row">
            <div class="col-md-6">
                <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #E2017A;"></i> Los números y las formas</h5>
                <p class="text-justify">Obras que introduzcan o desarrollen conceptos básicos de aritmética; de formas geométricas o de conjuntos, con base en la experiencia cotidiana o con aplicación a problemas sencillos de la vida diaria.</p>
              </div>

            <div class="col-md-6">
              <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #C1CDC1;"></i> Los objetos y su funcionamiento</h5>
              <p class="text-justify">Materiales que despierten el interés por el origen, el empleo, los mecanismos y posibilidades de desarrollo de los objetos que nos rodean.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #A74C22;"></i> Las personas</h5>
                <p class="text-justify">Relatos de no ficción sobre personajes importantes o notables de la historia y el presente, sus acciones y cómo se relacionan e influyen en el contexto social.</p>
              </div>

            <div class="col-md-6">
                <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #A74C22;"></i> Las historias del pasado</h5>
                <p class="text-justify">Obras que despiertan el interés por los sucesos del pasado, tanto de la vida cotidiana como de los que representan mitos nacionales o mundiales.</p>
              </div>


        </div>

        <div class="row">
            <div class="col-md-6">
                <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #7E0D6D;"></i> Los lugares, la Tierra y el espacio</h5>
                <p class="text-justify">Libros sobre las características de los seres vivos, los espacios donde éstos se desarrollan, las condiciones ambientales, los fenómenos y eventos naturales que influyen en los seres y su entorno.</p>
              </div>

            <div class="col-md-6">
                <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #C1CDC1;"></i> Las artes y los oficios</h5>
                <p class="text-justify">Materiales que buscan desarrollar la creatividad y estimular el aprecio en los niños por habilidades técnicas y artísticas (pintura, música, danza, jardinería, cocina, etcétera).</p>
              </div>


        </div>

        <div class="row">
            <div class="col-md-6">
                <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #FFEC02;"></i> Los juegos, actividades y experimentos</h5>
                <p class="text-justify">Libros que despiertan la curiosidad por experimentar y que fomentan el gusto por la investigación y los descubrimientos.</p>
              </div>

            <div class="col-md-6">
                <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #D8CABE;"></i> Las palabras</h5>
                <p class="text-justify">Materiales que mediante definiciones e imágenes ayudan a conocer nuevos conceptos y a reflexionar acerca de los hábitos comunicativos.</p>
              </div>

        </div>

        <div class="row">
            <div class="col-md-6">
              <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #D8CABE;"></i> Enciclopedias, atlas y almanaques</h5>
              <p class="text-justify">Materiales de referencia, donde se ofrece información relevante acerca de sucesos, descubrimientos, personajes o conformaciones del mundo.</p>
            </div>
        </div>
        </div>
      </div>
  
    </div>
    <!-- Accordion card -->
  
    <!-- Accordion card -->
    <div class="card">
  
      <!-- Card header -->
      <div class="card-header" role="tab" id="headingTwo2">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
          aria-expanded="false" aria-controls="collapseTwo2">
          <h5 class="mb-0 font-weight-bold">
            Literarios <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>
  
      <!-- Card body -->
      <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
        data-parent="#accordionEx">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #0E6BA5;"></i> Cuentos de aventuras y de viajes</h5>
                    <p class="text-justify">Narraciones de hechos emocionantes, desafíos y hazañas; historias referentes a viajes a lugares distantes, fantásticos o desconocidos.</p>
                  </div>
  
                <div class="col-md-6">
                  <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #0E6BA5;"></i> Cuentos de humor</h5>
                  <p class="text-justify">Relatos que por medio de imágenes, juegos de palabras o situaciones ingeniosas ofrecen una forma alternativa de interpretar el mundo y la vida.</p>
                </div>
            </div>
  
            <div class="row">
              <div class="col-md-6">
                  <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #0E6BA5;"></i> Cuentos de misterio y de terror</h5>
                  <p class="text-justify">Relatos que emplean elementos de lo desconocido y sobrenatural para crear una atmósfera de suspenso y sorpresa.</p>
                </div>
  
              <div class="col-md-6">
                <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #0E6BA5;"></i> Cuentos de la vida cotidiana</h5>
                <p class="text-justify">Relatos que permiten identificar aspectos de la propia rutina en diferentes personajes y situaciones que llevan a descubrir que las cosas sólo aparentemente resultan sencillas.</p>
              </div>
          </div>
  
          <div class="row">
              <div class="col-md-6">
                  <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #0E6BA5;"></i> Mitos y leyendas</h5>
                  <p class="text-justify">Relatos breves que tienen origen en la tradición oral o escrita y que reflejan las costumbres y creencias de los pueblos donde nacen, generalmente con elementos sobrenaturales y fantásticos.</p>
                </div>
  
              <div class="col-md-6">
                  <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #0E6BA5;"></i> Cuentos históricos</h5>
                  <p class="text-justify">Relatos cortos que apoyándose en personas o sucesos reales llevan al pasado, narran historias sin preocuparse demasiado por la fidelidad aunque sí por la verosimilitud.</p>
                </div>
          </div>
  
          <div class="row">
              <div class="col-md-6">
                  <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #0E6BA5;"></i> Cuentos clásicos</h5>
                  <p class="text-justify">Cuentos y fábulas que han formado parte de la infancia de muchas generaciones, sean originalmente de tradición oral o escrita y que se han mantenido en el gusto de los niños.</p>
                </div>
  
              <div class="col-md-6">
                  <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #0E6BA5;"></i> Diarios, crónicas y reportajes</h5>
                  <p class="text-justify">Textos que permiten entrar en contacto con la información verídica que se genera día con día o que sigue un orden cronológico; anotaciones reales o no, de carácter periódico y de orden confidencial escritos en primera persona.</p>
                </div>
          </div>
  
          <div class="row">
              <div class="col-md-6">
                  <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #F4B1A6;"></i> Poesía</h5>
                  <p class="text-justify">Obras generalmente en verso donde importa la sonoridad y exactitud en el empleo del lenguaje.</p>
                </div>
  
              <div class="col-md-6">
                  <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #F4B1A6;"></i> Rimas, canciones, adivinanzas y juegos de palabras</h5>
                  <p class="text-justify">Materiales que despiertan el ingenio creativo y estimulan la memoria mediante composiciones en verso, retruécanos y acertijos.</p>
                </div>
  
          </div>
  
          <div class="row">
              <div class="col-md-6">
                <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #E00B25;"></i> Teatro y representaciones con títeres y marionetas</h5>
                <p class="text-justify">Obras originales o adaptaciones que estimulan la expresión oral y corporal, así como la reflexión y el buen humor.</p>
              </div>
          </div>
          </div>
      </div>
  
    </div>
    <!-- Accordion card -->
  
  
    </div>


    </div>

        <!-- Accordion wrapper -->

        <div class="container my-4">
            <div class="card cyan darken-2 text-center white-text my-4 py-3">
                <h5 class="font-weight-bold">Astrolabio / Espejo de Urania</h5>
        </div>
    
        
            <!--Accordion wrapper-->
            <div class="accordion md-accordion z-depth-1" id="accordionEx" role="tablist" aria-multiselectable="true">
    
                <!-- Accordion card -->
                <div class="card">
              
                  <!-- Card header -->
                  <div class="card-header" role="tab" id="headingA1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseA1" aria-expanded="true"
                      aria-controls="collapseA1">
                      <h5 class="mb-0 font-weight-bold">
                        Informativos <i class="fas fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>
              
                  <!-- Card body -->
                  <div id="collapseA1" class="collapse show" role="tabpanel" aria-labelledby="headingA1"
                    data-parent="#accordionEx">
                    <div class="card-body">
                      <div class="row">
                          <div class="col-md-6">
                              <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #bdcd00;"></i> Ciencias físico-químicas</h5>
                              <p class="text-justify">Textos sobre las leyes fundamentales de la naturaleza y sus fenómenos; la energía y su interacción con la materia; la estructura y las propiedades de las sustancias y sus transformaciones.</p>
                            </div>
            
                          <div class="col-md-6">
                            <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #009de0;"></i> Ciencias biológicas</h5>
                            <p class="text-justify">Materiales sobre todos los organismos vivos, sean plantas, animales, hongos, bacterias, algas o virus, en sus aspectos fisiológicos, morfológicos, bioquímicos, su desarrollo y evolución.</p>
                          </div>
                      </div>
            
                      <div class="row">
                        <div class="col-md-6">
                            <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #009de0;"></i> Ciencias de la salud y el deporte</h5>
                            <p class="text-justify">Materiales sobre el cuidado de la salud, las actividades físicas con fines recreativos o de competencia y la repercusión de éstas en el cuerpo.</p>
                          </div>
            
                        <div class="col-md-6">
                          <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #E2007A;"></i> Matemáticas</h5>
                          <p class="text-justify">Materiales que abordan aspectos de los números, símbolos y figuras de manera abstracta o en relación con objetos y fenómenos.</p>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #C1CDC1;"></i> Tecnología</h5>
                            <p class="text-justify">Materiales que se enfocan a la aplicación de los conocimientos científicos en la enumeración de objetos y procedimientos que buscan obtener o producir una ventaja en tiempo, esfuerzo y calidad sobre experiencias anteriores.</p>
                          </div>
            
                        <div class="col-md-6">
                            <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #A74C22;"></i> Biografías</h5>
                            <p class="text-justify">Reseñas referentes a la vida de personas que han sido relevantes para la cultura en cualquiera de sus campos (artísticos, científicos, deportivos, etc.), que presenten sus rasgos de personalidad, contexto social e histórico, aspectos y hechos relevantes que brinden un panorama completo del biografiado.</p>
                          </div>
            
            
                    </div>
            
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #A74C22;"></i> Historia, cultura y sociedad</h5>
                            <p class="text-justify">Textos acerca de los acontecimientos del pasado y el presente, sus motivos y consecuencias; las relaciones que se establecen entre los individuos y el grupo al que pertenecen; las expresiones intelectuales, artísticas y científicas que caracterizan a un grupo o comunidad.</p>
                          </div>
            
                        <div class="col-md-6">
                            <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #7E0D6D;"></i> Ciencias de la tierra y el espacio</h5>
                            <p class="text-justify">Materiales que estudian todo lo relacionado con el planeta: origen, forma y componentes; los procesos químicos, físicos y biológicos que ocurren en los océanos, ríos, atmósfera. Y el universo y sus cuerpos o formaciones: planetas, satélites, estrellas, galaxias, etcétera.</p>
                          </div>
            
            
                    </div>
            
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #C0CCC1;"></i> Artes y oficios</h5>
                            <p class="text-justify">Materiales que fomentan habilidades estéticas y técnicas como formas de expresión colectiva e individual y estimulan la formación del gusto estético propio.</p>
                          </div>
            
                        <div class="col-md-6">
                            <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #FFEB00;"></i> Juegos, actividades y experimentos</h5>
                            <p class="text-justify">Materiales con actividades interesantes y divertidas, que comprendan elaboración de supuestos, experimentos, observaciones y conclusiones y que despiertan cuestionamientos legítimos acerca de la relación entre teoría y experiencia real.</p>
                          </div>
            
                    </div>
            
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #D8CABE;"></i> Diccionarios</h5>
                        <p class="text-justify">Libros de referencia, sean de definiciones, equivalencias, sinónimos o antónimos, ejemplos, usos, pronunciación, aplicación, etcétera, de términos, en orden alfabético o temático. Pueden ser generales, técnicos, bilingües o especializados.</p>
                      </div>
                        <div class="col-md-6">
                          <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #D8CABE;"></i> Enciclopedias, atlas y almanaques</h5>
                          <p class="text-justify">Materiales de referencia, donde se ofrece información relevante acerca de sucesos, descubrimientos, personajes o conformaciones del mundo.</p>
                        </div>
                    </div>
                    </div>
                  </div>
              
                </div>
                <!-- Accordion card -->
                
                <!-- Accordion card -->
                <div class="card">
              
                  <!-- Card header -->
                  <div class="card-header" role="tab" id="headingA2">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseA2"
                      aria-expanded="false" aria-controls="collapseA2">
                      <h5 class="mb-0 font-weight-bold">
                        Literarios <i class="fas fa-angle-down rotate-icon"></i>
                      </h5>
                    </a>
                  </div>
              
                  <!-- Card body -->
                  <div id="collapseA2" class="collapse" role="tabpanel" aria-labelledby="headingA2"
                    data-parent="#accordionEx">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #0E6BA5;"></i> Narrativa de aventuras y de viajes</h5>
                                <p class="text-justify">Textos referentes a viajes reales o ficticios que permiten ampliar los límites de la realidad al experimentar circunstancias diferentes a lo cotidiano: sociedades distintas, escenarios de otras culturas y paisajes; además, presuponen la disposición a enfrentar sorpresas e imprevistos.</p>
                              </div>
              
                            <div class="col-md-6">
                              <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #0E6BA5;"></i> Narrativa de ciencia ficción</h5>
                              <p class="text-justify">Cuentos o novelas que basándose en nociones o ideas científicas desarrollan historias sobre mundos paralelos, sociedades futuras y acontecimientos insólitos, brindando explicaciones verosímiles para estas posibilidades.</p>
                            </div>
                        </div>
              
                        <div class="row">
                          <div class="col-md-6">
                              <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #0E6BA5;"></i> Narrativa de la vida cotidiana</h5>
                              <p class="text-justify">Narraciones que hacen referencia a hechos significativos en la vida de los adolescentes; textos que permitan reflexionar en torno a aspectos de su búsqueda de identidad, una vez que han cruzado el umbral de la adolescencia hacia el mundo de los adultos.</p>
                            </div>
              
                          <div class="col-md-6">
                            <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #0E6BA5;"></i> Narrativa de humor</h5>
                            <p class="text-justify">Cuentos o novelas donde la ironía, el sarcasmo, la sátira y la comedia son el medio para abordar la realidad.</p>
                          </div>
                      </div>
              
                      <div class="row">
                          <div class="col-md-6">
                              <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #0E6BA5;"></i> Narrativa de misterio y de terror</h5>
                              <p class="text-justify">Cuentos o novelas que a partir de un suceso oscuro o paranormal, un crimen o un enigma crean un ambiente de angustia o inseguridad, pues mientras se esclarece la trama, van apareciendo peligros y víctimas, muchas veces con finales inesperados.</p>
                            </div>
              
                          <div class="col-md-6">
                              <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #0E6BA5;"></i> Narrativa policíaca</h5>
                              <p class="text-justify">Cuentos o novelas en los que la trama se desarrolla en torno a un crimen y la investigación que éste suscita: análisis de posibles móviles, sospechosos, circunstancias y pistas.</p>
                            </div>
                      </div>
              
                      <div class="row">
                          <div class="col-md-6">
                              <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #0E6BA5;"></i> Narrativa contemporánea</h5>
                              <p class="text-justify">Cuentos o novelas de los escritores de nuestro tiempo (nacidos o que han publicado en el siglo XX) quienes por su trascendencia ya se han ganado un lugar en la historia de la literatura. Esta categoría se subdivide en narrativa (a) universal, (b) latinoamericana y (c) mexicana.</p>
                            </div>
              
                          <div class="col-md-6">
                              <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #0E6BA5;"></i> Narrativa histórica</h5>
                              <p class="text-justify">Cuentos o novelas en los que, con base en acontecimientos históricos, se va tejiendo una trama que en ocasiones llena los huecos no registrados por la historia generalmente aceptada, si bien cuida de no caer en anacronismos o inverosimilitudes.</p>
                            </div>
                      </div>
              
                      <div class="row">
                          <div class="col-md-6">
                              <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #0E6BA5;"></i> Narrativa clásica</h5>
                              <p class="text-justify">Textos que debido a su trascendencia y vigencia a pesar del tiempo y el lugar ya forman parte del canon literario de la cultura universal.</p>
                            </div>
              
                          <div class="col-md-6">
                              <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #0E6BA5;"></i> Mitos y leyendas</h5>
                              <p class="text-justify">Narraciones maravillosas situadas fuera de un contexto histórico y protagonizado por personajes de carácter divino o heroico y tradicional que buscan a menudo explicar la cosmovisión de un pueblo, su ideología y creencias, y reafirmar su identidad.</p>
                            </div>
              
                      </div>
              
                      <div class="row">
                          <div class="col-md-6">
                            <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #0E6BA5;"></i> Diarios, crónicas y reportajes</h5>
                            <p class="text-justify">Material informativo conciso y algunas veces glosado, como el de los periódicos o las revistas, así como textos donde se registran regularmente sucesos, sentimientos y reflexiones íntimas del escritor o su interpretación personal de ciertos acontecimientos.</p>
                          </div>

                          <div class="col-md-6">
                            <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #F5B1A4;"></i> Poesía de autor</h5>
                            <p class="text-justify">Obras generalmente en verso que buscan explorar las características sonoras del lenguaje y sus posibilidades significativas.</p>
                          </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #F5B1A4;"></i> Poesía popular</h5>
                          <p class="text-justify">Obras que unen muchas veces la belleza del lenguaje con las ideas y tradiciones de un pueblo, cuyos autores son por lo regular desconocidos y, por lo tanto, deben su subsistencia a la transmisión oral y a las comunidades que las han conservado.</p>
                        </div>

                        <div class="col-md-6">
                          <h5 class="font-weight-bold"><i class="fas fa-square fa-lg mr-2" style="color: #E20019;"></i> Teatro</h5>
                          <p class="text-justify">Piezas que permiten a los jóvenes entrar en contacto con el mundo del texto y su representación, así como apreciar las diferentes propuestas y tendencias del teatro actual y clásico.</p>
                        </div>
                    </div>
                      </div>
                  </div>
              
                </div>
                <!-- Accordion card -->
              
              
                </div>
                <!-- Accordion wrapper -->
    
        
          </div>

</div>