<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar></app-sidebar>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <!--Intro-->
        <div class="row mt-4">
            <div class="col-md-5">
                <h2 class="font-weight-bold">Mediateca
                <hr class="my-4 linea1">
                </h2>            
            </div>

        </div>

        <!--Contenido-->
        <div class="row">
            <!--Carousel Wrapper-->
            <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
          class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->
  
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
  
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
  
      <!--First slide-->
      <div class="carousel-item active">
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="../../../assets/img/video3.png" alt="Video3">
            <div class="card-body">
              <h4 class="card-title">Videocápsula de interculturales y bilingües</h4>
              <a class="btn btn-primary">Ver vídeo</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="../../../assets/img/video3.png" alt="Video3">
            <div class="card-body">
              <h4 class="card-title">Videocápsula de interculturales y bilingües</h4>
              <a class="btn btn-primary">Ver vídeo</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="../../../assets/img/video3.png" alt="Video3">
            <div class="card-body">
              <h4 class="card-title">Videocápsula de interculturales y bilingües</h4>
              <a class="btn btn-primary">Ver vídeo</a>
            </div>
          </div>
        </div>
  
      </div>
      <!--/.First slide-->
  
      <!--Second slide-->
      <div class="carousel-item">
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="../../../assets/img/video2.png" alt="Video2">
            <div class="card-body">
              <h4 class="card-title">Organización y uso de los Acervos</h4>
              <a class="btn btn-primary">Ver video</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="../../../assets/img/video2.png" alt="Video2">
            <div class="card-body">
              <h4 class="card-title">Organización y uso de los Acervos</h4>
              <a class="btn btn-primary">Ver video</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="../../../assets/img/video2.png" alt="Video2">
            <div class="card-body">
              <h4 class="card-title">30 Años para leer y seguir leyendo</h4>
              <a class="btn btn-primary">Ver video</a>
            </div>
          </div>
        </div>
  
      </div>
      <!--/.Second slide-->
  
      <!--Third slide-->
      <div class="carousel-item">
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="../../../assets/img/video1.png" alt="Video1">
            <div class="card-body">
              <h4 class="card-title">30 Años para leer y seguir leyendo</h4>
              <a class="btn btn-primary">Ver video</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="../../../assets/img/video2.png" alt="Video2">
            <div class="card-body">
              <h4 class="card-title">Organización y uso de los Acervos</h4>
              <a class="btn btn-primary">Ver video</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="../../../assets/img/video3.png" alt="Video3">
            <div class="card-body">
              <h4 class="card-title">Videocápsula de interculturales y bilingües</h4>
              <a class="btn btn-primary">Ver vídeo</a>
            </div>
          </div>
        </div>
  
      </div>
      <!--/.Third slide-->
  
    </div>
    <!--/.Slides-->
  
  </div>
  <!--/.Carousel Wrapper-->
        </div>

        <div class="row">
                        <!--Carousel Wrapper-->
                        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

                            <!--Controls-->
                            <div class="controls-top">
                              <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                              <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
                                  class="fas fa-chevron-right"></i></a>
                            </div>
                            <!--/.Controls-->
                          
                            <!--Indicators-->
                            <ol class="carousel-indicators">
                              <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                              <li data-target="#multi-item-example" data-slide-to="1"></li>
                              <li data-target="#multi-item-example" data-slide-to="2"></li>
                            </ol>
                            <!--/.Indicators-->
                          
                            <!--Slides-->
                            <div class="carousel-inner" role="listbox">
                          
                              <!--First slide-->
                              <div class="carousel-item active">
                          
                                <div class="col-md-4">
                                  <div class="card mb-2">
                                    <img class="card-img-top"
                                      src="../../../assets/img/video3.png" alt="Video3">
                                    <div class="card-body">
                                      <h4 class="card-title">Videocápsula de interculturales y bilingües</h4>
                                      <a class="btn btn-primary">Ver vídeo</a>
                                    </div>
                                  </div>
                                </div>
                          
                                <div class="col-md-4">
                                  <div class="card mb-2">
                                    <img class="card-img-top"
                                      src="../../../assets/img/video3.png" alt="Video3">
                                    <div class="card-body">
                                      <h4 class="card-title">Videocápsula de interculturales y bilingües</h4>
                                      <a class="btn btn-primary">Ver vídeo</a>
                                    </div>
                                  </div>
                                </div>
                          
                                <div class="col-md-4">
                                  <div class="card mb-2">
                                    <img class="card-img-top"
                                      src="../../../assets/img/video3.png" alt="Video3">
                                    <div class="card-body">
                                      <h4 class="card-title">Videocápsula de interculturales y bilingües</h4>
                                      <a class="btn btn-primary">Ver vídeo</a>
                                    </div>
                                  </div>
                                </div>
                          
                              </div>
                              <!--/.First slide-->
                          
                              <!--Second slide-->
                              <div class="carousel-item">
                          
                                <div class="col-md-4">
                                  <div class="card mb-2">
                                    <img class="card-img-top"
                                      src="../../../assets/img/video2.png" alt="Video2">
                                    <div class="card-body">
                                      <h4 class="card-title">Organización y uso de los Acervos</h4>
                                      <a class="btn btn-primary">Ver video</a>
                                    </div>
                                  </div>
                                </div>
                          
                                <div class="col-md-4">
                                  <div class="card mb-2">
                                    <img class="card-img-top"
                                      src="../../../assets/img/video2.png" alt="Video2">
                                    <div class="card-body">
                                      <h4 class="card-title">Organización y uso de los Acervos</h4>
                                      <a class="btn btn-primary">Ver video</a>
                                    </div>
                                  </div>
                                </div>
                          
                                <div class="col-md-4">
                                  <div class="card mb-2">
                                    <img class="card-img-top"
                                      src="../../../assets/img/video2.png" alt="Video2">
                                    <div class="card-body">
                                      <h4 class="card-title">30 Años para leer y seguir leyendo</h4>
                                      <a class="btn btn-primary">Ver video</a>
                                    </div>
                                  </div>
                                </div>
                          
                              </div>
                              <!--/.Second slide-->
                          
                              <!--Third slide-->
                              <div class="carousel-item">
                          
                                <div class="col-md-4">
                                  <div class="card mb-2">
                                    <img class="card-img-top"
                                      src="../../../assets/img/video1.png" alt="Video1">
                                    <div class="card-body">
                                      <h4 class="card-title">30 Años para leer y seguir leyendo</h4>
                                      <a class="btn btn-primary">Ver video</a>
                                    </div>
                                  </div>
                                </div>
                          
                                <div class="col-md-4">
                                  <div class="card mb-2">
                                    <img class="card-img-top"
                                      src="../../../assets/img/video2.png" alt="Video2">
                                    <div class="card-body">
                                      <h4 class="card-title">Organización y uso de los Acervos</h4>
                                      <a class="btn btn-primary">Ver video</a>
                                    </div>
                                  </div>
                                </div>
                          
                                <div class="col-md-4">
                                  <div class="card mb-2">
                                    <img class="card-img-top"
                                      src="../../../assets/img/video3.png" alt="Video3">
                                    <div class="card-body">
                                      <h4 class="card-title">Videocápsula de interculturales y bilingües</h4>
                                      <a class="btn btn-primary">Ver vídeo</a>
                                    </div>
                                  </div>
                                </div>
                          
                              </div>
                              <!--/.Third slide-->
                          
                            </div>
                            <!--/.Slides-->
                          
                          </div>
                          <!--/.Carousel Wrapper-->
        </div>
    </div>
</div>