<div class="container" style="padding-top: 30px;">
    <h3 class="h3 text-left mb-2"> <a [routerLink]="['/inicio']"><i class="fas fa-home text-dark"></i></a>&nbsp;&nbsp; Archivos históricos</h3>
    <hr class="my-3">
    <div class="row">
        <div class="col-lg-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="../../../assets/img/libros-rincon.png" alt="Card image cap">
                    <a [routerLink]="['Convocatorias']">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a [routerLink]="['Convocatorias']" class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <a [routerLink]="['Convocatorias']">
                        <h6 class="card-title text-uppercase">Convocatorias</h6>
                    </a>
                </div>
            </div>
            <!-- Card -->
        </div>

        <div class="col-lg-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="../../../assets/img/libros-rincon.png" alt="Card image cap">
                    <a [routerLink]="['CatHistorico']">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a [routerLink]="['CatHistorico']" class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <a [routerLink]="['CatHistorico']">
                        <h6 class="card-title text-uppercase">Catálogo Histórico</h6>
                    </a>
                </div>
            </div>
            <!-- Card -->
        </div>

        <div class="col-lg-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="../../../assets/img/libros-rincon.png" alt="Card image cap">
                    <a [routerLink]="['SobreLibro']">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a [routerLink]="['SobreLibro']" class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <a [routerLink]="['SobreLibro']">
                        <h6 class="card-title text-uppercase">Sobre el libro y la lectura</h6>
                    </a>
                </div>
            </div>
            <!-- Card -->
        </div>

        <div class="col-lg-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="../../../assets/img/libros-rincon.png" alt="Card image cap">
                    <a [routerLink]="['EstrategiasLectura']">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a [routerLink]="['EstrategiasLectura']" class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <a [routerLink]="['EstrategiasLectura']">
                        <h6 class="card-title text-uppercase">Estrategias de lectura y de escritura</h6>
                    </a>
                </div>
            </div>
            <!-- Card -->
        </div>
    </div>

</div>
<br><br>