<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar></app-sidebar>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <!--Intro-->
        <div class="row mt-4">
            <div class="col-md-5">
                <h2 class="font-weight-bold">Biblioteca de Actualización del Maestro
                <hr class="my-4 linea1">
                </h2>            
            </div>

            <div class="col-md-7">
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipiscing elit dapibus, dis nunc semper sapien malesuada enim torquent nostra congue, morbi ultrices praesent turpis fusce molestie hac. Montes turpis tellus litora aenean nulla sociosqu justo quis porta, placerat ligula lacinia curabitur rhoncus vel suspendisse sem, mollis purus sodales quam bibendum malesuada tortor hac.</p>

                <p class="text-justify">Platea est nascetur in sapien parturient tempor dis ullamcorper quis himenaeos vivamus rhoncus nunc euismod, tristique tellus hac blandit proin quam suscipit porta laoreet nisl dictum sociis scelerisque.</p>

            </div>

        </div>

        <!--Contenido-->
        <div class="row my-4">
            <div class="container">
                <form class="form-inline d-flex text-left md-form form-sm mt-0">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Para realizar una búsqueda, escriba una palabra clave del título, autor o reseña"
                      aria-label="Search">
                  </form>
            </div>

            <div class="container">
               
                            <!--Carousel Wrapper-->
            <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

                <!--Controls-->
                <div class="controls-top">
                  <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                  <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
                      class="fas fa-chevron-right"></i></a>
                </div>
                <!--/.Controls-->
            
                <!--Indicators-->
                <ol class="carousel-indicators">
                  <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                  <li data-target="#multi-item-example" data-slide-to="1"></li>
                  <li data-target="#multi-item-example" data-slide-to="2"></li>
                </ol>
                <!--/.Indicators-->
            
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
            
                  <!--First slide-->
                  <div class="carousel-item active">
            
                    <div class="col-md-4">
                      <div class="card mb-2">
                        <img class="card-img-top"
                          src="../../../assets/img/poetas-latinoamericanos.png" alt="poetas-latinoamericanos">
                        <div class="card-body">
                          <h4 class="card-title">24 poetas latinoamericanos</h4>
                          <a class="btn btn-primary">Ver más</a>
                        </div>
                      </div>
                    </div>
            
                    <div class="col-md-4">
                      <div class="card mb-2">
                        <img class="card-img-top"
                          src="../../../assets/img/cuentos-latinoamericanos.png" alt="cuentos-latinoamericanos">
                        <div class="card-body">
                          <h4 class="card-title">16 cuentos latinoamericanos</h4>
                          <a class="btn btn-primary">Ver más</a>
                        </div>
                      </div>
                    </div>
            
                    <div class="col-md-4">
                      <div class="card mb-2">
                        <img class="card-img-top"
                          src="../../../assets/img/narradoras-latinoamericanas.png" alt="narradoras-latinoamericanas">
                        <div class="card-body">
                          <h4 class="card-title">17 narradoras latinoamericanas</h4>
                          <a class="btn btn-primary">Ver más</a>
                        </div>
                      </div>
                    </div>
            
                  </div>
                  <!--/.First slide-->
            
                  <!--Second slide-->
                  <div class="carousel-item">
            
                    <div class="col-md-4">
                      <div class="card mb-2">
                        <img class="card-img-top"
                          src="../../../assets/img/cuentos-latinoamericanos.png" alt="cuentos-latinoamericanos">
                        <div class="card-body">
                          <h4 class="card-title">16 cuentos latinoamericanos</h4>
                          <a class="btn btn-primary">Ver más</a>
                        </div>
                      </div>
                    </div>
            
                    <div class="col-md-4">
                      <div class="card mb-2">
                        <img class="card-img-top"
                          src="../../../assets/img/narradoras-latinoamericanas.png" alt="Video2">
                        <div class="card-body">
                          <h4 class="card-title">17 narradoras latinoamericanas</h4>
                          <a class="btn btn-primary">Ver más</a>
                        </div>
                      </div>
                    </div>
            
                    <div class="col-md-4">
                      <div class="card mb-2">
                        <img class="card-img-top"
                          src="../../../assets/img/poetas-latinoamericanos.png" alt="Video2">
                        <div class="card-body">
                          <h4 class="card-title">324 poetas latinoamericanos</h4>
                          <a class="btn btn-primary">Ver más</a>
                        </div>
                      </div>
                    </div>
            
                  </div>
                  <!--/.Second slide-->
            
                  <!--Third slide-->
                  <div class="carousel-item">
            
                    <div class="col-md-4">
                      <div class="card mb-2">
                        <img class="card-img-top"
                          src="../../../assets/img/poetas-latinoamericanos.png" alt="Video1">
                        <div class="card-body">
                          <h4 class="card-title">Poetas latinoamericanos</h4>
                          <a class="btn btn-primary">Ver más</a>
                        </div>
                      </div>
                    </div>
            
                    <div class="col-md-4">
                      <div class="card mb-2">
                        <img class="card-img-top"
                          src="../../../assets/img/cuentos-latinoamericanos.png" alt="Video2">
                        <div class="card-body">
                          <h4 class="card-title">Cuentos latinoamericanos</h4>
                          <a class="btn btn-primary">Ver más</a>
                        </div>
                      </div>
                    </div>
            
                    <div class="col-md-4">
                      <div class="card mb-2">
                        <img class="card-img-top"
                          src="../../../assets/img/narradoras-latinoamericanas.png" alt="Video3">
                        <div class="card-body">
                          <h4 class="card-title">Narradoras latinoamericanas</h4>
                          <a class="btn btn-primary">Ver más</a>
                        </div>
                      </div>
                    </div>
            
                  </div>
                  <!--/.Third slide-->
            
                </div>
                <!--/.Slides-->
            
                        </div>
                        <!--/.Carousel Wrapper-->
                
            </div>
        </div>

    </div>
</div>
