<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar-proceso></app-sidebar-proceso>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <!--Intro-->
        <div class="row mt-4">
            <div class="col-md-5">
                <h2 class="font-weight-bold">Ingreso de Materiales
                <hr class="my-4 linea1">
                </h2>            
            </div>

            <div class="col-md-7">
                <p class="text-justify">Es la etapa en la que los titulares de los derechos patrimoniales o sus representantes legales, registran y entregan materiales bibliográficos a la Dirección de Bibliotecas y Promoción de la Lectura, de la Dirección General de Materiales Educativos, para que sean revisados y, en su caso, seleccionados como parte de la colección Libros del Rincón.</p>

                <p class="text-justify">Para ello, la Secretaría de Educación Pública a través de la Dirección General de Materiales Educativos, hace pública una convocatoria para la selección de títulos de la colección Libros del Rincón, en un diario de circulación nacional y a través de la página electrónica del Programa Nacional de Lectura.</p>

            </div>

        </div>

        <!--Contenido-->
        <div class="row mt-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" src="../../../assets/img/convocatoria2020.png" alt="Convocatoria 2020">
                    </div>
                    <div class="col-md-7 mt-4">
                        <p class="font-weight-bold mb-2">Convocatoria 2020 para la selección de:</p>
                        <p class="font-weight-bold mb-1">Libros del Rincón, Bibliotecas Escolares y Bibiotecas de Aula</p>
                        <br>
                        <p class="font-weight-bold mb-1">Ciclo escolar 2021-2022</p>
                        <br>
                        <a role="button" href="#" class="btn btn-primary">Ver convocatoria</a>
                    </div>
                </div>
            </div>


      
            
        </div>
    </div>
</div>