<div class="container" style="padding-top: 30px;">
    <h3 class="h3 text-left mb-2"> <a [routerLink]="['/inicio']"><i class="fas fa-home text-dark"></i></a>&nbsp;&nbsp; Numeralia</h3>
    <hr class="my-3">
    <div class="row">
        <div class="col-lg-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="../../../assets/img/libros-rincon.png" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <a [routerLink]="['BibliotecasDistribuidas']">
                        <h6 class="card-title text-uppercase">Bibliotecas distribuidas</h6>
                    </a>
                </div>
            </div>
            <!-- Card -->
        </div>
        <div class="col-lg-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="../../../assets/img/libros-rincon.png" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <a [routerLink]="[ 'EjemplaresAdquiridos']">
                    <h6 class="card-title text-uppercase pb-3">Ejemplares adquiridos e inversión</h6>
                    </a>
                </div>
            </div>
            <!-- Card -->
        </div>
        <div class="col-lg-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="../../../assets/img/libros-rincon.png" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <a [routerLink]="[ 'TitulosAnuales']">
                    <h6 class="card-title text-uppercase pb-3">Número de títulos adquiridos por año</h6></a>
                </div>
            </div>
            <!-- Card -->
        </div>

    </div>
    <br><br>

</div>
<br><br>