<nav id="sidebar">
    <div class="sidebar-header">
        <img src="../../../assets/img/logo-librosdelrincon.png" alt="Logo Libros del Rincón">
    </div>

    <ul class="list-unstyled components">
        <p>ARCHIVOS HISTÓRICOS</p>
        <li class="active">
            <a href="#homeSobre">Convocatorias</a>
        </li>
        <li>
            <a href="#">Catálogo histórico</a>
        </li>
        <li>
            <a href="#">Sobre el libro y la lectura</a>
        </li>
        <li>
            <a href="#">Estrategias de lectura y escritura</a>
        </li>
    </ul>
</nav>