<nav id="sidebar">
    <div class="sidebar-header">
        <img src="../../../assets/img/logo-librosdelrincon.png" alt="Logo Libros del Rincón">
    </div>

    <ul class="list-unstyled components">
        <p>ARCHIVOS HISTÓRICOS</p>
        <li class="active">
            <a href="#homeSobre">Sobre la colección</a>
        </li>
        <li>
            <a href="#">Series</a>
        </li>
        <li>
            <a href="#">Categorías</a>
        </li>
        <li>
            <a href="#">Títulos monolingües</a>
        </li>
        <li>
            <a href="#">Títulos bilingües</a>
        </li>
        <li>
            <a href="#">Títulos de producción estatal</a>
        </li>
        <li>
            <a href="#">Catálogo electrónico Libros del Rincón</a>
        </li>
    </ul>
</nav>