<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar-numeralia></app-sidebar-numeralia>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

    <div class="row mt-4">
        <div class="col-md-5">
            <h2 class="font-weight-bold">Número de títulos adquiridos por año
            <hr class="my-4 linea1">
            </h2>            
        </div>

        <div class="col-md-7">
            <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipiscing elit dapibus, dis nunc semper sapien malesuada enim torquent nostra congue, morbi ultrices praesent turpis fusce molestie hac. Montes turpis tellus litora aenean nulla sociosqu justo quis porta, placerat ligula lacinia curabitur rhoncus vel suspendisse sem, mollis purus sodales quam bibendum malesuada tortor hac.</p>

             <p class="text-justify">Platea est nascetur in sapien parturient tempor dis ullamcorper quis himenaeos vivamus rhoncus nunc euismod, tristique tellus hac blandit proin quam suscipit porta laoreet nisl dictum sociis scelerisque.</p>
                
        </div>       

    </div>

    <div class="container my-4">


    <!--Accordion wrapper-->
    <div class="accordion md-accordion z-depth-1" id="accordionEx" role="tablist" aria-multiselectable="true">

    <!-- Accordion card -->
    <div class="card">
  
      <!-- Card header -->
      <div class="card-header" role="tab" id="headingOne1">
        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
          aria-controls="collapseOne1">
          <h5 class="mb-0 font-weight-bold">
            Listado de Números de títulos adquiridos por año <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>
  
      <!-- Card body -->
      <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
        data-parent="#accordionEx">
        <div class="card-body">
            <!--Table-->
            <table id="tablePreview" class="table table-wrapper-scroll-y my-custom-scrollbar">
    <!--Table head-->
      <thead>
        <tr>
          <th>#</th>
          <th>Documento PDF</th>
          <th>Descarga</th>
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Biblioteca Escolar 2019</td>
          <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Biblioteca Escolar 2019</td>
          <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Biblioteca Escolar 2019</td>
          <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Biblioteca Escolar 2019</td>
            <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Biblioteca Escolar 2019</td>
            <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Biblioteca Escolar 2019</td>
            <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Biblioteca Escolar 2019</td>
            <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Biblioteca Escolar 2019</td>
            <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Biblioteca Escolar 2019</td>
            <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Biblioteca Escolar 2019</td>
            <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
      </tbody>
      <!--Table body-->
            </table>
            <!--Table-->
      </div>
  
    </div>
    <!-- Accordion card -->
  

  
    </div>


    </div>



</div>