<nav id="sidebar">
    <div class="sidebar-header">
        <img src="../../../assets/img/logo-librosdelrincon.png" alt="Logo Libros del Rincón">
    </div>

    <ul class="list-unstyled components">
        <a [routerLink]="['/acervos']"><p>CONOCE TUS ACERVOS</p></a>
        <li routerLinkActive="active">
            <a [routerLink]="[ '../SobreColeccion']">Sobre la colección</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="[ '../Series']">Series</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="[ '../Categorias']">Categorías</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="[ '../TitulosMonolingues']">Títulos monolingües</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="[ '../TitulosBilingues']">Títulos bilingües</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="[ '../ProduccionEstatal']">Títulos de producción estatal</a>
        </li>
        <li routerLinkActive="active">
            <a href="http://librosdelrincon.sep.gob.mx/catalogo/" target="_blank">Catálogo electrónico Libros del Rincón</a>
        </li>
    </ul>
</nav>