<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar></app-sidebar>

    <!-- Page Content Holder -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

    <div class="row mt-4">
        <div class="col-md-5">
            <h2 class="font-weight-bold">Libros de Producción Estatal
            <hr class="my-4 linea1">
            </h2>            
        </div>

        <div class="col-md-7">
            <p class="text-justify">A partir del 2006 la Secretaría de Educación Pública ha incluido libros de producción estatal en la Colección Libros del Rincón, con la finalidad de dar mayor impulso a la producción editorial procedente de cada entidad federativa.</p>

            <p class="text-justify">Estos materiales destacan las particularidades de cada región y contribuyen a reconocer la importancia de lo local, para que de esta manera se valore a nuestro país como un mosaico de manifestaciones culturales.</p>
                
            <p class="text-justify">La selección de títulos para el ciclo escolar 2006-2007 se realizó para las Bibliotecas de Aula. A partir del ciclo escolar 2008-2009 al 2013-2014 se adquirieron títulos para las Bibliotecas Escolares.</p>
                
            <p class="text-justify">Los títulos que se presentan a consideración de la Secretaría en el rubro de producción estatal cumplen con al menos una de las siguientes características:</p>
                <ul>
                    <li>El autor o autores deberán ser originarios o residentes de la entidad federativa en que se presente el título participante.</li>
                    <li>El material deberá haber sido editado en la entidad federativa por alguna editorial local, una institución educativa o cultura de la entidad (universidades, organismos culturales, etc.), también es posible registrar coediciones o ediciones de autor.</li>
                </ul>
        </div>       

    </div>

    <div class="container my-4">


    <!--Accordion wrapper-->
    <div class="accordion md-accordion z-depth-1" id="accordionEx" role="tablist" aria-multiselectable="true">

    <!-- Accordion card -->
    <div class="card">
  
      <!-- Card header -->
      <div class="card-header" role="tab" id="headingOne1">
        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
          aria-controls="collapseOne1">
          <h5 class="mb-0 font-weight-bold">
            Títulos de producción estatal seleccionados para la Biblioteca Escolar <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>
  
      <!-- Card body -->
      <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
        data-parent="#accordionEx">
        <div class="card-body">
            <!--Table-->
            <table id="tablePreview" class="table table-wrapper-scroll-y my-custom-scrollbar">
    <!--Table head-->
      <thead>
        <tr>
          <th>#</th>
          <th>Documento PDF</th>
          <th>Descarga</th>
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Biblioteca Escolar 2019</td>
          <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Biblioteca Escolar 2019</td>
          <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Biblioteca Escolar 2019</td>
          <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Biblioteca Escolar 2019</td>
            <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Biblioteca Escolar 2019</td>
            <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Biblioteca Escolar 2019</td>
            <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Biblioteca Escolar 2019</td>
            <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Biblioteca Escolar 2019</td>
            <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Biblioteca Escolar 2019</td>
            <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Biblioteca Escolar 2019</td>
            <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
          </tr>
      </tbody>
      <!--Table body-->
            </table>
            <!--Table-->
      </div>
  
    </div>
    <!-- Accordion card -->
  
    <!-- Accordion card -->
    <div class="card">
  
      <!-- Card header -->
      <div class="card-header" role="tab" id="headingTwo2">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
          aria-expanded="false" aria-controls="collapseTwo2">
          <h5 class="mb-0 font-weight-bold">
            Títulos de producción estatal seleccionados para la Biblioteca de Aula <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>
  
      <!-- Card body -->
      <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
        data-parent="#accordionEx">
        <div class="card-body">
            <!--Table-->
            <table id="tablePreview" class="table">
    <!--Table head-->
      <thead>
        <tr>
          <th>#</th>
          <th>Estado</th>
          <th>Documento XLS</th>
          <th>Descarga</th>
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Aguascalientes</td>
          <td>AGS BA 02-03 AL_13-14.XLS</td>
          <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Baja California</td>
          <td>BC BA 02-03 AL_13-14.XLS</td>
          <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Baja California Sur</td>
          <td>BCS BA 02-03 AL_13-14.XLS</td>
          <td><a href="#"><i class="fas fa-download blue-grey-text"></i></a></td>
        </tr>
      </tbody>
      <!--Table body-->
            </table>
            <!--Table-->
        </div>
      </div>
  
    </div>
    <!-- Accordion card -->
  
  
    </div>


    </div>



</div>