<nav id="menu-gob" class="navbar navbar-expand-lg navbar-light fixed-top" style="height: 60px;">
    <div class="container">
        <a class="navbar-brand" href="https://www.gob.mx/">
            <img src="https://framework-gb.cdn.gob.mx/landing/img/logoheader.svg" alt="Pagina de inicio, Gobierno de México" width="128" height="48">
        </a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span> <i class="fa fa-navicon" style="color:#fff"></i></span>

        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link text-white" href="https://www.gob.mx/tramites">Trámites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="https://www.gob.mx/gobierno">Gobierno</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.gob.mx/busqueda">
                        <i class="fa fa-search" style="color:white"></i> </a>
                </li>

            </ul>
        </div>
    </div>


</nav>