<div class="container" style="padding-top: 30px;">
    <h3 class="h3 text-left mb-2"> <a [routerLink]="['/inicio']"><i class="fas fa-home text-dark"></i></a>&nbsp;&nbsp; Proceso de Selección </h3>
    <hr class="my-3">
    <div class="row">
        <div class="col-lg-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="../../../assets/img/libros-rincon.png" alt="Card image cap">
                    <a [routerLink]="['Sobreproceso']">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a [routerLink]="['Sobreproceso']" class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <a [routerLink]="['Sobreproceso']">
                        <h6 class="card-title text-uppercase">Proceso de <br> Selección</h6>
                    </a>
                </div>
            </div>
            <!-- Card -->
        </div>
        <div class="col-lg-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="../../../assets/img/libros-rincon.png" alt="Card image cap">
                    <a [routerLink]="[ 'Ingresomat']">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a [routerLink]="[ 'Ingresomat']" class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <a [routerLink]="[ 'Ingresomat']">
                    <h6 class="card-title text-uppercase pb-3">Ingreso de <br>Materiales</h6>
                    </a>
                </div>
            </div>
            <!-- Card -->
        </div>
        <div class="col-lg-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="../../../assets/img/libros-rincon.png" alt="Card image cap">
                    <a [routerLink]="[ 'Preseleccion']">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a [routerLink]="[ 'Preseleccion']" class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <a [routerLink]="[ 'Preseleccion']">
                    <h6 class="card-title text-uppercase pb-3">Preselección</h6></a>
                </div>
            </div>
            <!-- Card -->
        </div>
        <div class="col-lg-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="../../../assets/img/libros-rincon.png" alt="Card image cap">
                    <a [routerLink]="[ 'Seleccion']">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a [routerLink]="[ 'Seleccion']" class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <a [routerLink]="[ 'Seleccion']">
                    <h6 class="card-title text-uppercase">Selección</h6></a>
                </div>
            </div>
            <!-- Card -->
        </div>
    </div>
    <br><br>
</div>
<br><br>