<div class="container" style="padding-top: 30px;">
    <h3 class="h3 text-left mb-2"> <a [routerLink]="['/inicio']"><i class="fas fa-home text-dark"></i></a>&nbsp;&nbsp; Conoce tus Acervos</h3>
    <hr class="my-3">
    <div class="row">
        <div class="col-lg-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="../../../assets/img/libros-rincon.png" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <a [routerLink]="['SobreColeccion']">
                        <h6 class="card-title text-uppercase">Sobre la <br>Colección</h6>
                    </a>
                </div>
            </div>
            <!-- Card -->
        </div>
        <div class="col-lg-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="../../../assets/img/libros-rincon.png" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <h6 class="card-title text-uppercase pb-3">Series</h6>
                </div>
            </div>
            <!-- Card -->
        </div>
        <div class="col-lg-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="../../../assets/img/libros-rincon.png" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <h6 class="card-title text-uppercase pb-3">Categorías</h6>
                </div>
            </div>
            <!-- Card -->
        </div>
        <div class="col-lg-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="../../../assets/img/libros-rincon.png" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <h6 class="card-title text-uppercase">Títulos <br>Monolingües</h6>
                </div>
            </div>
            <!-- Card -->
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="../../../assets/img/libros-rincon.png" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <h6 class="card-title text-uppercase">Títulos<br>Bilingües</h6>
                </div>
            </div>
            <!-- Card -->
        </div>
        <div class="col-lg-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="../../../assets/img/libros-rincon.png" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <h6 class="card-title text-uppercase">Títulos de Producción Estatal</h6>
                </div>
            </div>
            <!-- Card -->
        </div>
        <div class="col-lg-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="../../../assets/img/libros-rincon.png" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <h6 class="card-title text-uppercase">Catálogo Electrónico <br> Libros del Rincón</h6>
                </div>
            </div>
            <!-- Card -->
        </div>
        <div class="col-lg-3">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="../../../assets/img/libros-rincon.png" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
        class="fas fa-chevron-right pl-1"></i></a>
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <h6 class="card-title text-uppercase pb-3">Mediateca</h6>
                </div>
            </div>
            <!-- Card -->
        </div>
    </div>
</div>
<br><br>